# Checking Password Strength using ML algorithms

In [5]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('data.csv',on_bad_lines='skip')

In [10]:
data.head()

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1